body {
  text-align: centre;
}

.navbar {
  padding: 2%;
}

.jumbotron {
  text-align: left;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.image {
  width: 50%;
  height: 50%;
}

aside {
  text-align: centre;
  padding: 3% 10%;
}

hr {
  width: 80%;
}

footer {
  background-color: #e9ecef;
  clear: both;
  padding: 2rem;
  text-align: centre;
  margin-top: 1%;
}

